<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand">Punto de Gestión</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Alinear el menú a la izquierda -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" routerLink="/inicio" aria-current="page">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/boletas">Boletas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/registro-pedido">Registrar Ventas</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Perfil
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>